{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">API Keys</h3>
            <div class="card-body">
                <p><a href="{{ url_for('api.swagger') }}">For the Swagger 2.0 definition click here</a></p>
                <form method="post" action="{{ url_for('account.api_add', user_id=current_user.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="row">
                        <div class="col-9 form-group">
                            <input type="text" name="name" id="name" placeholder="key name - something unique" class="form-control" required autofocus>
                        </div>
                        <div class="col form-group">
                            <button type="submit" class="btn btn-primary btn-block">create</button>
                        </div>
                    </div>
                </form>

                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Key</th>
                        <th class="text-center">Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set c = 0 %}
                    {% for apikey in apikeys %}
                        {% set c = c + 1 %}
                    <tr>
                        <td>{{ c }}</td>
                        <td>{{ apikey.name }}</td>
                        <td class="text-monospace">{{ apikey.apikey }}</td>
                        <td class="text-center">
                            <form id="api-set-status" method="post" action="{{ url_for('account.api_set_status', user_id=current_user.id, key_id=apikey.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                {% if apikey.enabled %}
                                <input type="hidden" name="action" value="disable">
                                <a href="#" class="api-set-status text-success" title="click to disable"><i class="fas fa-check"></i></a>
                                {% else %}
                                <input type="hidden" name="action" value="enable">
                                <a href="#" class="api-set-status text-danger" title="click to enable"><i class="fas fa-times"></i></a>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.api-set-status').click(function() {
            $('#api-set-status').submit();
            return false;
        });
    });
</script>
{% endblock %}