{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">{{ user.full_name }}</h3>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('account.settings', user_id=user.id) }}" class="text-center">
                            <div><i class="fas fa-user-cog fa-3x"></i></div>
                            <div class="pt-2">Account Settings</div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="{{ url_for('account.theme', user_id=user.id) }}" class="text-center">
                            <div><i class="fas fa-images fa-3x"></i></div>
                            <div class="pt-2">Themes</div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="{{ url_for('account.logins', user_id=user.id) }}" class="text-center">
                            <div><i class="fas fa-clipboard-list fa-3x"></i></div>
                            <div class="pt-2">Login Logs</div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="{{ url_for('account.api', user_id=user.id) }}" class="text-center">
                            <div><i class="fas fa-key fa-3x"></i></div>
                            <div class="pt-2">API Keys</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}