{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">Logins</h3>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th class="text-right">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for login in logins %}
                    <tr>
                        <td>{{ login.id }}</td>
                        <td>{{ login.username }}</td>
                        <td class="text-right">{{ login.login_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}