{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">Update Password</h3>
            <div class="card-body">
                <form method="post" action="{{ url_for('account.settings_save', user_id=user.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <label for="existing_password">Existing Password</label>
                        <input type="password" value="" name="existing_password" id="existing_password" class="form-control" required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="new_password">New Password</label>
                        <input type="password" value="" name="new_password" id="new_password" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" value="" name="confirm_password" id="confirm_password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}