{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">Users</h3>
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-right">
                        <a href="{{ url_for('admin.logins') }}" class="btn btn-primary">View User Logins</a>
                        <a href="{{ url_for('admin.user_edit', user_id=0) }}" class="btn btn-primary">Add Local User</a>
                    </div>
                </div>

                <table class="table table-sm table-striped mt-4">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Full Name</th>
                        <th>E-mail</th>
                        <th>Admin</th>
                        <th>LDAP</th>
                        <th>Active</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ 'Yes' if user.admin == 1 else 'No' }}</td>
                        <td>{{ 'Yes' if user.ldap == 1 else 'No' }}</td>
                        <td>{{ 'Yes' if user.active == 1 else 'No' }}</td>
                        <td class="text-right">
                            <a href="{{ url_for('admin.user_edit', user_id=user.id) }}"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}