{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col">
        <div class="row">
            <div class="col text-monospace text-center">
                <div class="p-2 border border-info">
                    <div style="font-size: 300%;">{{ processes.stats.all }}</div>
                    <div class="pt-2 pb-2 border-top">processes</div>
                </div>
            </div>
            <div class="col text-monospace text-center">
                <div class="p-2 border border-info">
                    <div style="font-size: 300%;">{{ processes.stats.web }}</div>
                    <div class="pt-2 pb-2 border-top">via web</div>
                </div>
            </div>
            <div class="col text-monospace text-center">
                <div class="text-monospace p-2 border border-info">
                    <div style="font-size: 300%;">{{ processes.stats.ssh }}</div>
                    <div class="pt-2 pb-2 border-top">via ssh</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<div class="row mt-5">
    <div class="col-1"></div>
    <div class="col">
        <form method="post" action="{{ url_for('sessions.create') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <input type="text" name="description" id="description" class="form-control" placeholder="Enter your new session's description here." required>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Create Session</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">Sessions</h3>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Name</th>
                        <th>State</th>
                        <th class="text-right">Progress</th>
                        <th class="text-right">Cracked</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for session in sessions %}
                    <tr>
                        <td>{{ session.id }}</td>
                        <td>{{ session.user.record.username }}</td>
                        <td><a href="{{ url_for('sessions.view', session_id=session.id) }}">{{ session.description if (session.description and session.description|length > 0) else session.name }}</a></td>
                        <td class="table-{{ template().get_hashcat_running_class(session.hashcat.data.process_state) }}">{{ template().get_hashcat_running_text(session.hashcat.data.process_state) }}</td>
                        <td class="text-right">{{ session.hashcat.data.progress }}%</td>
                        <td class="text-right">
                            <span>{{ session.hashcat.data.cracked_passwords }}/{{ session.hashcat.data.all_passwords }}</span>
                            {% if session.hashcat.data.cracked_passwords > 0 %}
                            <span>
                                <a href="{{ url_for('sessions.download_file', session_id=session.id, which_file='cracked') }}" class="text-warning ml-1" title="Download"><i class="fas fa-file-download fa-lg"></i></a>
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}