[Unit]
Description=CrackerJack Gunicorn
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=CJPATH
EnvironmentFile=/etc/environment
Environment="PATH=CJPATH/venv/bin:$PATH"
ExecStart=CJPATH/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5000 -m 007 wsgi:app

[Install]
WantedBy=multi-user.target