{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col">
        <h2>It's not you, it's me.</h2>
        <hr>
        <div>An internal server error occurred.</div>
        <div>If you are *not* the administrator, there's nothing you can do.</div>
        <div>If you *are* the administrator, check if the hashcat binary path is correct, and if all the required applications are installed (like screen).</div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}