{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">Admin Settings</h3>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('admin.settings_hashcat') }}" class="text-center">
                            <div>
                                <i class="fas fa-cat fa-3x text-primary"></i>
                                <i class="fas fa-hashtag text-secondary" data-fa-transform="left-40 up-4 shrink--2"></i>
                            </div>
                            <div class="pt-2">Hashcat</div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="{{ url_for('admin.settings_auth') }}" class="text-center">
                            <div><i class="fas fa-user-lock fa-3x text-primary"></i></div>
                            <div class="pt-2">Authentication</div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="{{ url_for('admin.users') }}" class="text-center">
                            <div><i class="fas fa-users fa-3x text-primary"></i></div>
                            <div class="pt-2">Users</div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="{{ url_for('admin.system_messages') }}" class="text-center">
                            <div><i class="fas fa-bullhorn fa-3x text-primary"></i></div>
                            <div class="pt-2">System Messages</div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="{{ url_for('admin.shell_logs') }}" class="text-center">
                            <div><i class="fas fa-clipboard-list fa-3x text-primary"></i></div>
                            <div class="pt-2">Shell Logs</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}