<!-- Delete Confirmation -->
<div class="modal fade" id="delete-confirmation-box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="delete-form-to-submit" value="">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger delete-confirmation-button">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        CJ_Utils.submitOnClick();

        $('.confirm-delete').click(function() {
            var formToSubmit = $(this).closest('form').attr('id');
            $('#delete-form-to-submit').val(formToSubmit);
            $('#delete-confirmation-box').modal('show');
            return false;
        });

        $('.delete-confirmation-button').click(function() {
            var formToSubmit = $('#delete-form-to-submit').val();
            $('#' + formToSubmit).submit();
            $('#delete-confirmation-box').modal('hide');
        });
    });
</script>