<!doctype html>
<html class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">

    <title>CrackerJack</title>
    {% set user_theme = user_setting_get(current_user.id if current_user.id else 0, 'theme', setting_get('theme', 'lumen')) %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/'~user_theme~'.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/select2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/tempusdominus-bootstrap-4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crackerjack.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/select2.full.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/moment.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/tempusdominus-bootstrap-4.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='fontawesome/js/all.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/webpush/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/crackerjack/utils.js') }}"></script>
</head>
<body class="d-flex flex-column h-100">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('home.index') }}">CrackerJack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home.index') }}">Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="menu-settings" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-settings">
                    <a class="dropdown-item" href="{{ url_for('account.index', user_id=current_user.id) }}">Account Settings</a>
                    {% if current_user.admin %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('admin.index') }}">Admin Settings</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}

            {% if current_user.is_authenticated %}
            <li>
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout [ {{ current_user.full_name }} ]</a>
            </li>
            {% else %}
            <li>
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<main role="main" class="flex-shrink-0">
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row mt-5">
            <div class="col">
                {% for category, message in messages %}
                    {% if category == 'error' %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% elif category == 'success' %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>
</main>

<footer class="footer mt-auto pt-5 pb-3">
    <div class="container text-center">
        {% set commit_count = setting_get('git_commit_count', 0)|int %}
        {% set last_commit_date = setting_get('last_commit_date', '') %}
        <span class="text-default">
            Hashcat
            {{ setting_get('hashcat_version', '') }}
            |
            CrackerJack
            {{ setting_get('git_hash_version', '') }}
            {% if commit_count > 0 %}
            | v{{ commit_count }}
            {% if last_commit_date|length > 0 %}
            | {{ last_commit_date }}
            {% endif %}
            {% endif %}
        </span>
    </div>
</footer>

<script type="text/javascript">
{% if current_user.is_authenticated and setting_get('webpush_enabled', '0')|int == 1 %}
    $(document).ready(function() {
        WebPush.init(
            '{{ csrf_token() }}',
            '{{ setting_get('vapid_public', '') }}',
            '{{ url_for('static', filename='js/webpush/sw.js') }}',
            '{{ url_for('webpush.register') }}'
        );
    });
{% endif %}

    $(document).ready(function() {
        CJ_Utils.submitOnClick();
    });
</script>

</body>
</html>