<footer class="footer mt-auto pt-5 pb-3">
    <div class="container text-center">
        {% set commit_count = setting_get('git_commit_count', 0)|int %}
        {% set last_commit_date = setting_get('last_commit_date', '') %}
        {% set version = config.CRACKERJACK_VERSION %}
        <span class="text-default">
            <span title="Commits: {{ commit_count }} | Commit Date: {{ last_commit_date }}">CrackerJack v{{ version }}</span>
            - Hashcat {{ setting_get('hashcat_version', '') }}
        </span>
    </div>
</footer>