{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">Auth Settings</h3>
            <div class="card-body">
                <form method="post" action="{{ url_for('admin.settings_auth_save') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <label for="allow_logins">Allow Logins</label>
                        <div class="custom-control custom-switch float-right">
                            <input name="allow_logins" type="checkbox" class="custom-control-input" id="allow_logins" value="1" {{ "checked='checked'" if settings.allow_logins == '1' else '' }}>
                            <label class="custom-control-label" for="allow_logins"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}