{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col">
        <h3 class="card-header">Settings</h3>
        <div class="card-body">
            <form method="post" action="{{ url_for('admin.settings_general_save') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <h2>General</h2>

                <div class="form-group">
                    <label for="wordlists_path">Wordlists Path</label>
                    <input name="wordlists_path" type="text" id="wordlists_path" class="form-control" value="{{ setting_get('wordlists_path', '') }}" placeholder="/path/to/wordlists" required>
                </div>

                <div class="form-group">
                    <span>
                        <label for="uploaded_hashes_path">Uploaded Hashes Path</label>
                        <span class="text-primary" title="" data-container="body" data-toggle="popover" data-placement="left" data-content="This folder will be used in cases where the user wants to upload a very large hash file (ie from HIBP).<br>In this instance, users will upload the file via SSH and then select it from the front-end." data-original-title="Uploaded Hashes">
                            <i class="fas fa-question-circle"></i>
                        </span>
                    </span>
                    <input name="uploaded_hashes_path" type="text" id="uploaded_hashes_path" class="form-control" value="{{ setting_get('uploaded_hashes_path', '') }}" placeholder="/path/to/uploaded/hashes/folder">
                    <div class="text-info small mt-2">Make sure all users have <b>write</b> access to this folder.</div>
                </div>

                <div class="form-group clearfix">
                    <label for="theme">Default Theme</label>
                    <select name="theme" id="theme" class="form-control custom-select">
                        <option value=""></option>
                        {% for name, theme in themes.items() %}
                        {% set t = name|replace('.css', '') %}
                        <option value="{{ t }}" {{ 'selected' if setting_get('theme', 'lumen') == t else '' }}>{{ t }}</option>
                        {% endfor %}
                    </select>
                    <small class="font-italic float-right">themes are from <a href="https://bootswatch.com/">https://bootswatch.com/</a></small>
                </div>

                <h2>Web Push Notifications</h2>

                <p><small>To generate a VAPID key please go to: <a href="https://web-push-codelab.glitch.me/">https://web-push-codelab.glitch.me/</a></small></p>

                <div class="form-group">
                    <label for="webpush_enabled">Enable</label>
                    <div class="custom-control custom-switch float-right">
                        <input name="webpush_enabled" type="checkbox" class="custom-control-input" id="webpush_enabled" value="1" {{ "checked='checked'" if setting_get('webpush_enabled', '0') == '1' else '' }}>
                        <label class="custom-control-label" for="webpush_enabled"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="vapid_private">VAPID Private Key</label>
                    {% set vapid_private = setting_get('vapid_private', '') %}
                    {% if vapid_private|length > 0 %}
                        {% set vapid_private = '********' %}
                    {% endif %}
                    <input name="vapid_private" type="password" id="vapid_private" class="form-control" value="{{ vapid_private }}" placeholder="">
                </div>

                <div class="form-group">
                    <label for="vapid_public">VAPID Public Key</label>
                    <input name="vapid_public" type="text" id="vapid_public" class="form-control" value="{{ setting_get('vapid_public', '') }}" placeholder="">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
</script>
{% endblock %}