{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">Hashcat Settings</h3>
            <div class="card-body">
                <form method="post" action="{{ url_for('admin.settings_hashcat_save') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <label for="hashcat_binary">Hashcat Executable Path</label>
                        <input name="hashcat_binary" type="text" id="hashcat_binary" class="form-control" value="{{ setting_get('hashcat_binary', '') }}" placeholder="/path/to/hashcat" required>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-8"><label for="hashcat_status_interval">Hashcat Status Interval</label></div>
                            <div class="col">
                                <input type="number" id="hashcat_status_interval" name="hashcat_status_interval" class="form-control text-right" value="{{ setting_get('hashcat_status_interval', 10) }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="hashcat_force">Use --force</label>
                        <div class="custom-control custom-switch float-right">
                            <input name="hashcat_force" type="checkbox" class="custom-control-input" id="hashcat_force" value="1" {{ "checked='checked'" if setting_get('hashcat_force', '0') == '1' else '' }}>
                            <label class="custom-control-label" for="hashcat_force"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="hashcat_rules_path">Hashcat Rules Path</label>
                        <input name="hashcat_rules_path" type="text" id="hashcat_rules_path" class="form-control" value="{{ setting_get('hashcat_rules_path', '') }}" placeholder="/path/to/hashcat/rules" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}