{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-lg-3">
        {% set active_nav = 'ldap' %}
        {% include 'config/includes/sidebar.html' %}
    </div>
    <div class="col-lg-6">
        <form action="{{ url_for('config.ldap_save') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <h4>LDAP Settings</h4>
            <div class="form-group pt-2">
                <label for="ldap_enabled">Enabled</label>
                <div class="custom-control custom-switch float-right">
                    <input name="ldap_enabled" type="checkbox" class="custom-control-input" id="ldap_enabled" value="1" {{ "checked='checked'" if setting_get('ldap_enabled', '0') == '1' else '' }}>
                    <label class="custom-control-label" for="ldap_enabled"></label>
                </div>
            </div>

            <div class="form-group pt-2">
                <label for="ldap_ssl">SSL</label>
                <div class="custom-control custom-switch float-right">
                    <input name="ldap_ssl" type="checkbox" class="custom-control-input" id="ldap_ssl" value="1" {{ "checked='checked'" if setting_get('ldap_ssl', '0') == '1' else '' }}>
                    <label class="custom-control-label" for="ldap_ssl"></label>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4"><label for="ldap_host">Host</label></div>
                    <div class="col">
                        <input name="ldap_host" type="text" id="ldap_host" class="form-control" value="{{ setting_get('ldap_host', '') }}" placeholder="">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4"><label for="ldap_base_dn">Base DN</label></div>
                    <div class="col">
                        <input name="ldap_base_dn" type="text" id="ldap_base_dn" class="form-control" value="{{ setting_get('ldap_base_dn', '') }}" placeholder="dc=example,dc=com">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4"><label for="ldap_domain">Domain</label></div>
                    <div class="col">
                        <input name="ldap_domain" type="text" id="ldap_domain" class="form-control" value="{{ setting_get('ldap_domain', '') }}" placeholder="EXAMPLE">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4"><label for="ldap_bind_user">Bind Username</label></div>
                    <div class="col">
                        <input name="ldap_bind_user" type="text" id="ldap_bind_user" class="form-control" value="{{ setting_get('ldap_bind_user', '') }}" placeholder="readonlyuser">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4"><label for="ldap_bind_pass">Bind Password</label></div>
                    <div class="col">
                        <input name="ldap_bind_pass" type="password" id="ldap_bind_pass" class="form-control" value="{{ '********' if setting_get('ldap_bind_pass', '')|length > 0 else '' }}" placeholder="readonlypass">
                    </div>
                </div>
            </div>

            <h4>Mappings</h4>

            <div class="form-group pt-2">
                <div class="row">
                    <div class="col-4"><label for="ldap_mapping_username">Username</label></div>
                    <div class="col">
                        <input name="ldap_mapping_username" type="text" id="ldap_mapping_username" class="form-control" value="{{ setting_get('ldap_mapping_username', '') }}" placeholder="sAMAccountName">
                    </div>
                </div>
            </div>

            <div class="form-group pt-2">
                <div class="row">
                    <div class="col-4"><label for="ldap_mapping_fullname">Full Name</label></div>
                    <div class="col">
                        <input name="ldap_mapping_fullname" type="text" id="ldap_mapping_fullname" class="form-control" value="{{ setting_get('ldap_mapping_fullname', '') }}" placeholder="givenName">
                    </div>
                </div>
            </div>

            <div class="form-group pt-2">
                <div class="row">
                    <div class="col-4"><label for="ldap_mapping_email">E-mail</label></div>
                    <div class="col">
                        <input name="ldap_mapping_email" type="text" id="ldap_mapping_email" class="form-control" value="{{ setting_get('ldap_mapping_email', '') }}" placeholder="mail">
                    </div>
                </div>
            </div>

            <div class="form-group mt-5">
                <button type="submit" class="btn btn-block btn-primary">save</button>
            </div>
        </form>

        <h4>Test Connection</h4>
        <form action="{{ url_for('config.ldap_test') }}" method="post" class="pb-2">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">test connection</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}