{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-lg-3">
        {% set active_nav = 'password_complexity' %}
        {% include 'config/includes/sidebar.html' %}
    </div>
    <div class="col-lg-6">
        <form action="{{ url_for('config.password_complexity_save') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <h4>Password Complexity</h4>
            <form method="post" action="{{ url_for('config.password_complexity_save') }}" autocomplete="off">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="p-3">
                    <div class="form-group pt-2">
                        <div class="row">
                            <div class="col-4"><label for="pwd_min_length">Minimum Length</label></div>
                            <div class="col">
                                <input name="pwd_min_length" type="number" id="pwd_min_length" class="form-control text-right" value="{{ setting_get('pwd_min_length', 12) }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group pt-2">
                        <div class="row">
                            <div class="col-4"><label for="pwd_min_lower">Minimum Lower</label></div>
                            <div class="col">
                                <input name="pwd_min_lower" type="number" id="pwd_min_lower" class="form-control text-right" value="{{ setting_get('pwd_min_lower', 2) }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group pt-2">
                        <div class="row">
                            <div class="col-4"><label for="pwd_min_upper">Minimum Upper</label></div>
                            <div class="col">
                                <input name="pwd_min_upper" type="number" id="pwd_min_upper" class="form-control text-right" value="{{ setting_get('pwd_min_upper', 2) }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group pt-2">
                        <div class="row">
                            <div class="col-4"><label for="pwd_min_digits">Minimum Digits</label></div>
                            <div class="col">
                                <input name="pwd_min_digits" type="number" id="pwd_min_digits" class="form-control text-right" value="{{ setting_get('pwd_min_digits', 2) }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group pt-2">
                        <div class="row">
                            <div class="col-4"><label for="pwd_min_special">Minimum Special</label></div>
                            <div class="col">
                                <input name="pwd_min_special" type="number" id="pwd_min_special" class="form-control text-right" value="{{ setting_get('pwd_min_special', 2) }}">
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="form-group mt-5">
                    <button type="submit" class="btn btn-block btn-primary">save</button>
                </div>
            </form>
        </form>
    </div>
</div>
{% endblock %}