{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col">
        <div class="card">
            <h3 class="card-header">CrackerJack Setup</h3>
            <div class="card-body">
                <form method="post" action="{{ url_for('install.save') }}" autocomplete="off">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <label for="username">Administrator Username</label>
                        <input type="text" value="" name="username" id="username" class="form-control" placeholder="admin" required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="password">Administrator Password</label>
                        <input type="password" value="" name="password" id="password" class="form-control" placeholder="correct horse battery staple" required>
                    </div>

                    <div class="form-group">
                        <label for="full_name">Full Name</label>
                        <input type="text" value="" name="full_name" id="full_name" class="form-control" placeholder="Admin User" required>
                    </div>

                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="text" value="" name="email" id="email" class="form-control" placeholder="you@yourdomain.com" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">setup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}